<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <div class="container" align="center" background color="red">
        <table class="table table-bordered table-hover table-striped"">
            <thead>
                <th>NAME</th>
                <th>ACTION</th>
                <th>ACTION</th>
            </thead>
            {% for i in resume %}
            <tr>
                <td>{{i.name}}</td>
                <td><a href="/resume/{{i.id}}" class="btn btn-outline-primary">VIEW</a></td>
                <td><a href="/pdf/{{i.pk}}" class="btn btn-outline-success">DOWNLOAD</a></td>
            </tr>
            {% endfor %}
        </table>

        <a href="/create" class="btn btn-outline-dark">CREATE NEW RESUME</a>

    </div>

</body>
</html>
